/*////////////////////////HEADER PART OF THE HTML  ////////////////////*/

#announcement {
    /* This is the part that changes the position and color of the "Save £££" txt */
    color: white;
    display: flex;
    justify-content: center;
}

.announcement-section {
    /* This is the purple background behind the "Save £££..." txt */
    background-color: #3D115F;
}

.navigation {
    width: 100%;
    padding: 0%;
}

.navbar {
    /* This is the background of the navbar (The recipies cuisines etc part) */
    display: flex;
    justify-content: right;
    align-content: space-evenly;
    background-color: white;
    padding: 0vw;
    border: solid;
}

.navbarHead {
    /* This is the text inside the navbar */
    padding: 0.7vw;
    color: purple;
    /* border: solid; */
}

#logo {
    width: 400px;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }


/*////////////////////////END OF HEADER PART OF THE HTML  ////////////////////*/

body {
    background-color: #9b71bc;
    font-family: Arial, Helvetica, sans-serif;
}

#favouritesID {
    color: white;
}

#veganID {
    color: white;
}

.header-grid {
    display: flex;
    justify-content: space-around;
    margin-left: 10vw;
}

.hgrid-item {
    margin-left: 10vw;
}

.hgrid-item-text {
    margin-left: 10vw;
}

.fgrid-item{
    display: inline-flex;
    position: relative;
    align-items: center;
    padding: 20px;
    transition: 0.5s;
}

.fgrid-item:hover{
    box-shadow: 0 0 20px 0px #3D115F
}

.vgrid-item{
    display: inline-flex;
    position: relative;
    align-items: center;
    padding: 20px;
    transition: 0.5s;
}

.vgrid-item:hover{
    box-shadow: 0 0 20px 0px #3D115F
}

.favourite-grid img{
    width: 300px;

}

.vegan-grid img{
    width: 300px;
}

