/*////////////////////////HEADER PART OF THE HTML  ////////////////////*/

#announcement {
    /* This is the part that changes the position and color of the "Save £££" txt */
    color: white;
    display: flex;
    justify-content: center;
}

.announcement-section {
    /* This is the purple background behind the "Save £££..." txt */
    background-color: #3D115F;
}

.navigation {
    width: 100%;
    padding: 0%;
}

.navbar {
    /* This is the background of the navbar (The recipies cuisines etc part) */
    display: flex;
    justify-content: right;
    align-content: space-evenly;
    background-color: white;
    padding: 0vw;
    border: solid;
}

.navbarHead {
    /* This is the text inside the navbar */
    padding: 0.7vw;
    color: purple;
    /* border: solid; */
}

#logo {
    width: 400px;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }


/*////////////////////////END OF HEADER PART OF THE HTML  ////////////////////*/

body {
    background-color: #9b71bc;
    font-family: Arial, Helvetica, sans-serif;
}



.header-grid {
    display: flex;
    justify-content: space-around;
    margin-left: 10vw;
    
}

.hgrid-item {
    background-color: white;
    border-radius: 8%;
    box-shadow: 0 0 20px 0px #3D115F;
    color: #3D115F;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 10vw;
    text-align: center;
       
}

.hgrid-item-text {
    margin-left: 10vw;
}


.number1 {
    position:relative;
    right: 72vw;
    top: -2vh;


    color: white;
    background-color: #3D115F;
    font-weight: 600;
    padding: 1%;
    border-radius: 50%;
    text-align: center;
    width:2vw;
    height: 2vh;
}

.number2{
    position:relative;
    right: 55vw;
    top: -2vh;



    color: white;
    background-color: #3D115F;
    font-weight: 600;
    padding: 1%;
    border-radius: 50%;
    text-align: center;
    width:2vw;
    height: 2vh;
}

.number3{
    position:relative;
    /* right: 55vw; */
    right: 39vw;
    top: -2vh;



    color: white;
    background-color: #3D115F;
    font-weight: 600;
    padding: 1%;
    border-radius: 100%;
    text-align: center;
    width:2vw;
    height: 2vh;
}








#favouritesID {
    color: white;
}

.favourite-grid img{
    width: 20vw;
    border-radius: 5%;

}

.fgrid-item{
    display: inline-flex;
    position: relative;
    align-items: center;
    padding: 20px;
    transition: 0.5s;
}

.fgrid-item:hover{
    box-shadow: 0 0 20px 0px #3D115F;
    border-radius: 5%;
}


#veganID {
    color: white;
}





.vgrid-item{
    display: inline-flex;
    position: relative;
    align-items: center;
    padding: 20px;
    transition: 0.5s;
}

.vgrid-item:hover{
    box-shadow: 0 0 20px 0px #3D115F;
    border-radius: 5%;
}



.vegan-grid img{
    width: 20vw;
    border-radius: 5%;
}

