/*////////////////////////HEADER PART OF THE HTML  ////////////////////*/
*{
    margin: 0;
    padding: 0;
}
#announcement {
    /* This is the part that changes the position and color of the "Save £££" txt */
    color: white;
    display: flex;
    justify-content: center;
}

.announcement-section {
    /* This is the purple background behind the "Save £££..." txt */
    background-color: #3D115F;
}

.navigation {
    width: 100%;
    padding: 0%;
}

.navbar {
    /* This is the background of the navbar (The recipies cuisines etc part) */
    display: flex;
    justify-content: right;
    align-content: space-evenly;
    background-color: white;
    padding: 0vw;
    border: solid;
}

.navbarHead {
    /* This is the text inside the navbar */
    padding: 0.7vw;
    color: purple;
    /* border: solid; */
}

/* Making the search bar  */
/* .search{ 
    position: relative;
    /* right: 90.5%; 
    bottom: 50px;

    align-items: center;

    width: 180px;

    height: 20px;
    border-radius: 40px;
    padding: 15px;
    background: #9c88ff;
} */


.search-control, .search-btn{
    width: 100%; 
}

    .search-control{
color: var(--tenne-tawny);
border-top-left-radius: 2rem;
border-bottom-left-radius: 2rem;
}
.search-control::placeholder{
color: var(--tenne-tawny);
}
.search-btn{ 
    width: 55px;
    height: 55px;
     font-size: 1.8rem;
     background: var(--tenne-tawny);
     color: #fff;
    border: none;
     border-top-right-radius: 2rem;
     border-bottom-right-radius: 2rem;
 transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
     -moz-transition: all 0.4s linear;
     -ms-transition: all 0.4s linear;
 -o-transition: all 0.4s linear;
}
.search-btn:hover{
 background: var(--tenne-tawny-dark);
}



#logo {
    width: 400px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/*////////////////////////END OF HEADER PART OF THE HTML  ////////////////////*/

body {
    background-color: #9b71bc;
    font-family: Arial, Helvetica, sans-serif;
}

.header-grid {
    display: flex;
    justify-content: center;
    /* margin-left: 10vw; */
}

.hgrid-item {
    display: inline-block;
    background-color: white;
    border-radius: 8%;
    box-shadow: 0 0 20px 0px #3D115F;
    color: #3D115F;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 80px;
    padding-bottom: -1vh;
    margin-left: 10vw;
    margin-top: 20px;
    text-align: center;
    min-width: 300px;
    height: 100px;
}

.hgrid-item-text {
    margin-left: 10vw;
}

.number1 {
    /* position: relative;
    right: 72vw;
    top: -2vh; */
    color: white;
    background-color: #3D115F;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 1%;
    border-radius: 50%;
    text-align: center;
    width: 2vw;
    height: 2vh;
}

.number2 {
    /* position: relative;
    right: 55vw;
    top: -2vh; */
    color: white;
    background-color: #3D115F;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 1%;
    border-radius: 50%;
    text-align: center;
    width: 2vw;
    height: 2vh;
}

.number3 {
    /* position: relative;
    right: 39vw;
    top: -2vh; */
    color: white;
    background-color: #3D115F;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 1%;
    border-radius: 100%;
    text-align: center;
    width: 2vw;
    height: 2vh;
}

#favouritesID {
    color: white;
}

.favourite-grid img {
    width: 20vw;
    border-radius: 5%;
}

.fgrid-item {
    display: inline-flex;
    position: relative;
    align-items: center;
    padding: 20px;
    transition: 0.5s;
}

.fgrid-item:hover {
    box-shadow: 0 0 20px 0px #3D115F;
    border-radius: 5%;
}

#veganID {
    color: white;
}

.vgrid-item {
    display: inline-flex;
    position: relative;
    align-items: center;
    padding: 20px;
    transition: 0.5s;
}

.vgrid-item:hover {
    box-shadow: 0 0 20px 0px #3D115F;
    border-radius: 5%;
}

.vegan-grid img {
    width: 20vw;
    border-radius: 5%;
}
