/*////////////////////////HEADER PART OF THE HTML  ////////////////////*/

* {
    margin: 0;
    padding: 0;
}

#announcement {
    /* This is the part that changes the position and color of the "Save £££" txt */
    color: white;
    display: flex;
    justify-content: center;
}

.announcement-section {
    /* This is the purple background behind the "Save £££..." txt */
    background-color: #3D115F;
}

.navigation {
    width: 100%;
    padding: 0%;
}

.navbar {
    /* This is the background of the navbar (The recipies cuisines etc part) */
    display: flex;
    justify-content: right;
    align-content: space-evenly;
    background-color: white;
    padding: 0vw;
    border: solid;
}


/* .navbarHead {
    This is the text inside the navbar
    padding-top: 2vw;
    text-align: center;
    padding-right: 5vw;
    color: purple;
    font-size: 20px;
    border: solid;
} */


/* HAD TO SEPARATE ABOUT AND CONTACT INTO THEIR OWN ID'S */

#about {
    color: purple;
    /* border: solid; */
    margin-top: 35px;
    margin-right: 100px;
    height: 30px;
    font-size: 20px;
}

#contact {
    color: purple;
    /* border: solid; */
    margin-top: 35px;
    margin-right: 100px;
    height: 30px;
    font-size: 20px;
}


/* Making the search bar  */


/* .search{ 
    position: relative;
    /* right: 90.5%; 
    bottom: 50px;
    align-items: center;
    width: 180px;
    height: 20px;
    border-radius: 40px;
    padding: 15px;
    background: #9c88ff;
} */

.search-control,
.search-btn {
    width: 100%;
}

.search-control {
    color: var(--tenne-tawny);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.search-control::placeholder {
    color: var(--tenne-tawny);
}

.search-btn {
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background: var(--tenne-tawny);
    color: #fff;
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}

.search-btn:hover {
    background: var(--tenne-tawny-dark);
}

#logo {
    width: 400px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/*////////////////////////END OF HEADER PART OF THE HTML  ////////////////////*/

body {
    background-color: #9b71bc;
    font-family: Arial, Helvetica, sans-serif;
}

.header-grid {
    display: flex;
    justify-content: center;
    /* margin-left: 10vw; */
}

.hgrid-item {
    display: inline-block;
    background-color: white;
    border-radius: 8%;
    box-shadow: 0 0 20px 0px #3D115F;
    color: #3D115F;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 40px;
    /* 2% also works ish for padding top */
    padding-bottom: -1vh;
    margin-left: 10vw;
    margin-top: 20px;
    text-align: center;
    min-width: 300px;
    height: 100px;
    border: solid;
}

.hgrid-item-text {
    margin-left: 10vw;
}

.number1 {
    position: relative;
    left: 9%;
    bottom: 11vh;
    color: white;
    background-color: #3D115F;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 50%;
    text-align: center;
    width: 2%;
    height: 10%;
    border: solid;
}

.number2 {
    position: relative;
    left: 37.5%;
    bottom: 14vh;
    color: white;
    background-color: #3D115F;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 50%;
    text-align: center;
    width: 2%;
    height: 10%;
    border: solid;
}

.number3 {
    position: relative;
    left: 66.5%;
    bottom: 17vh;
    color: white;
    background-color: #3D115F;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 100%;
    text-align: center;
    width: 2%;
    height: 10%;
    border: solid;
}

#favouritesID {
    color: white;
}

.cuisine {
    border: solid;
}

#cusineID {
    color: white;
}

.imageElement {
    margin-top: 10px;
    height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --tenne-tawny: #3D115F;
    --tenne-tawny-dark: #3D115F;
}

body {
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}


/*  */

.btn {
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.05rem;
}

.text {
    opacity: 0.8;
}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
}


/*  */

.meal-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    background: #fff;
    text-align: center;
}

.meal-search {
    margin: 2rem 0;
}

.meal-search cite {
    font-size: 1rem;
}

.meal-search-box {
    position: relative;
    left: 100px;
    margin: 1.2rem 0;
    margin-right: -20vw;
    display: flex;
    /* align-items: stretch; */
}

.search-control,
.search-btn {
    width: 100%;
}

.search-control {
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid var(--tenne-tawny);
    color: var(--tenne-tawny);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.search-control::placeholder {
    color: var(--tenne-tawny);
}

.search-btn {
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background: var(--tenne-tawny);
    color: #fff;
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}

.search-btn:hover {
    background: var(--tenne-tawny-dark);
}

.meal-result {
    margin-top: 4rem;
}

#meal {
    margin: 2.4rem 0;
}

.meal-item {
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    margin: 2rem 0;
}

.meal-img img {
    width: 100%;
    display: block;
}

.meal-name {
    padding: 1.5rem 0.5rem;
}

.meal-name h3 {
    font-size: 1.4rem;
}

.summary-btn {
    text-decoration: none;
    color: #fff;
    background: var(--tenne-tawny);
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}

.summary-btn:hover {
    background: var(--tenne-tawny-dark);
}
.recipe-btn {
    text-decoration: none;
    color: #fff;
    background: var(--tenne-tawny);
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}

.recipe-btn:hover {
    background: var(--tenne-tawny-dark);
}



/* meal details */

.meal-details {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: #fff;
    background: var(--tenne-tawny);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    display: none;
    padding: 2rem 0;
}

.meal-details::-webkit-scrollbar {
    width: 10px;
}

.meal-details::-webkit-scrollbar-thumb {
    background: #f0f0f0;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}


/* js related */

.showRecipe {
    display: block;
}

.meal-details-content {
    margin: 2rem;
}

.meal-details-content p:not(.recipe-category) {
    padding: 1rem 0;
}

.recipe-close-btn {
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background: #fff;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

.recipe-title {
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

.recipe-category {
    background: #fff;
    font-weight: 600;
    color: var(--tenne-tawny);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}

.recipe-category {
    background: #fff;
    font-weight: 600;
    color: var(--tenne-tawny);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}

.recipe-instruct {
    padding: 1rem 0;
}

.recipe-meal-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.recipe-link {
    margin: 1.4rem 0;
}

.recipe-link a {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}

.recipe-link a:hover {
    opacity: 0.8;
}


/*  */

.notFound {
    grid-template-columns: 1fr!important;
    color: var(--tenne-tawny);
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
}

/* a link style cand color */
a:link {
    color: #B5904B ;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: #B5904B;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }




/* Media Queries */

@media screen and (min-width: 600px) {
    .meal-search-box {
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    #meal {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .meal-item {
        margin: 0;
    }
    .meal-details {
        width: 700px;
    }
}

@media screen and (min-width: 992px) {
    #meal {
        grid-template-columns: repeat(3, 1fr);
    }
}

.media-scroller {
    --_spacer: var(--size-3);
    display: grid;
    gap: var(--_spacer);
    grid-auto-flow: column;
    grid-auto-columns: 21%;
    padding: 0 var(--_spacer) var(--_spacer);
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.media-element {
    display: grid;
    grid-template-rows: min-content;
    gap: var(--_spacer);
    padding: var(--_spacer);
    background: var(--surface-2);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-2);
    padding: 15px;
    box-sizing: border-box;
}

.media-element:hover {
    box-shadow: 0 0 20px 0px #3D115F;
    border-radius: 20%;
    border: solid;
}

.media-element>img {
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--_spacer, 1rem);
}

.snaps-inline>* {
    scroll-snap-align: start;
}
.carousel{
    display: none;
    width: 100%;
    max-width: 100%;
    max-height: 300px;
    min-width: 100%;
    min-height:30%;
}

  /* About Page */

#about-header {
    text-align: center;
    margin-top: 60px;
    color: #3D115F;
    font-size: 50px;
}

.about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: space-evenly;
}

#about-image {
    width: 80%;
    margin-left: 120px;
    margin-top: 60px;

}

#about-text {
    padding: 20px;
    margin-left: 40px;
    margin-top: 60px;
    font-size: 24px;
    font-weight: 700;
}
